<%- include('header') %>

<h1>
    Profile
</h1>


<!--
    isplays each detail of the user object 
    (passed to the view in the next step) 
    on a new line (wrap each detail in a p element).
-->

<div>
    <p><%= user.name %></p>
    <p><%= user.username %></p>
    <p><%= user.phone %></p>
    <p><%= user.email %></p>
    <p><%= user.address %></p>
</div>

<br>

<a href="/">Back to Account Summary</a>

<%- include('footer') %>